$titleFontSize:10px;
$articleThumbnailHeight:170px;
$articleBox-padding:15px;
$articleBoxTitleHeight:$titleFontSize*2*4;
$articleBoxHeader-marginBottom:30px;
$categoryFontiSize-ART:13px; //ART と CROSS のpx差は1pxにする
$categoryFontiSize-CROSS:11px;
$categoryFontiSize-GENRE:13px;
$categoryLineHeight:20px;
$numberFontSize:13px;
$thumbnailMarginBottom:5px;

.articleBox-base{
  padding:$articleBox-padding $articleBox-padding $articleBox-padding 0px;
  //background: pink;
}

.articleBox{
  @extend .articleBox-base;
  border-top:solid 1px gray;
}

.articleBox--smalltop{
  @extend .articleBox-base;
  border-top:solid 0px gray;
  margin-bottom: 1px;
}

.articleBox--big{
  @extend .articleBox-base;
  margin-bottom: 1px;
  //background: red;
}

.articleBox__header{
  margin-bottom: $articleBoxHeader-marginBottom;
  padding:0px;
}
.articleBox__category{
  float: left;
}
.articleBox__category--ART{
  font-weight: bold;
  font-size: $categoryFontiSize-ART;
  line-height: $categoryLineHeight;
  float: left;
  margin-right: 4px;
}
.articleBox__category--cross{
  font-size: $categoryFontiSize-CROSS;
  line-height: $categoryLineHeight;
  margin-top: 1px; //本来は calc(($categoryFontiSize-ART - $categoryFontiSize-CROSS)/2)
  float:left;
  margin-right: 4px;
}
.articleBox__category--genre{
  font-size: $categoryFontiSize-GENRE;
  line-height: $categoryLineHeight;
  float:left;
}
.articleBox__number{
  float: right;
  background:yellow;
  font-size: $numberFontSize;
  line-height: $categoryLineHeight;
  padding-left: $categoryLineHeight - $numberFontSize;
  padding-right: $categoryLineHeight - $numberFontSize;
}

.thumbnail-base{
  clear:both;
  width: 100%;
  margin-bottom: $thumbnailMarginBottom;
}
.articleBox__thumbnail{
  @extend .thumbnail-base;
  height:$articleThumbnailHeight;
}
.articleBox__thumbnail--big{
  @extend .thumbnail-base;
  height:$articleThumbnailHeight*2 + $articleBox-padding + $categoryLineHeight + $articleBoxHeader-marginBottom + $articleBoxTitleHeight + 1px;
}

.articleBox__title{
  clear:both;
  font-size: $titleFontSize;
  word-break: break-all;
  line-height: 2;
  height:$articleBoxTitleHeight;
}
