

.articleThumbnailBox{
  position:relative;
  
  
}

.articleThumbnailBox__image{
  width:100%;

}

.articleThumbnailBox__badge{
  position:absolute;
    top:$box-padding-small;
    right:$box-padding-small;

}

