.articleBox--ranking{
  @extend .clearfix;
  border-bottom: solid 1px gray;
  padding-bottom:20px;
  @include outer-container;
}

.articleBox--ranking--thumbnail{
  @include span-columns(4 of 10);
  margin-top: 20px;
  padding-right: 10px;
  display: block;
}

.articleBox--ranking--right{
  @include span-columns(6 of 10);
  margin-top: 10px;
}

.articleBox--ranking--rank{
  font-size: 30px;
  clear: both;
  font-family: $heading-font-family;
  line-height: 1.4;

}

.articleBox--ranking--title{
  font-size: 12px;
  clear:both;

}
