$titleFontSize:10px;
$articleThumbnailHeight:170px;
$articleBox-padding:15px;
$articleBoxTitleHeight:$titleFontSize*2*4;
$articleBoxHeader-marginBottom:10px;
$categoryLineHeight:20px;
$numberFontSize:13px;
$thumbnailMarginBottom:5px;

.articleBox-base{
  padding:$articleBox-padding 0px $articleBox-padding 0px;
  //margin-right: $articleBox-padding;
  //background: pink;
}

.articleBox{
  @extend .articleBox-base;
  border-top:solid 1px $color-plart-gray;

  &.--big{
    border-top-width:0;
    margin-bottom: 1px;
    padding-top: 0px;
  }

  &.--smalltop{
    border-top-width:0;
    margin-bottom: 1px;
    padding-top: 0px;
  }

}


.articleBox__header{
  margin-bottom: $articleBoxHeader-marginBottom;
  padding:0px;
  overflow: hidden;
}

.articleBox__category{
  float: left;
  font-size: $font-size-medium;
  letter-spacing: $small-letter-spacing;
  &.--unvisible{
    visibility:hidden;
  }
}

.articleBox__category--ART{
  font-weight: bold;
  line-height: $categoryLineHeight;
  float: left;
  margin-right: 4px;
}

.articleBox__category--cross{
  line-height: $categoryLineHeight;
  float:left;
  margin-right: 4px;
}

.articleBox__category--genre{
  line-height: $categoryLineHeight;
  float:left;
}

.articleBox__number{
  float: right;
  background:$color-plart-yellow;
  line-height: $categoryLineHeight;
  padding-left: $categoryLineHeight - $numberFontSize;
  padding-right: $categoryLineHeight - $numberFontSize;
  padding-top:3px;
  padding-bottom:3px;
}


.articleBox__thumbnailBox{

}

.thumbnail-base{

  clear:both;
  display: block;

  width: 100%;
  margin-bottom: $thumbnailMarginBottom;
  padding:0px;

  vertical-align: bottom;
}
.articleBox__thumbnailBox{
  position:relative;
}
.articleBox__thumbnail{
  @extend .thumbnail-base;
}

.articleBox--big .articleBox__thumbnail{
  @extend .thumbnail-base;
}

.articleBox__coverBadge{

  position:absolute;
    right:5%;
    top:5%;


  visibility:hidden;

  &.--visible{
    visibility:visible;


  }
}

.articleBox__title{
  clear:both;
  word-break: break-all;
  line-height: 2;
  height:$articleBoxTitleHeight;
  margin:0px;
  padding: 0px;
}
