
$blackButtonWidth:230px;
.blackButton{
  display: block;
  background: black;
  color:white;
  margin-top:10px;
  letter-spacing: $base-letter-spacing;
  @include outer-container;
  padding-top: 3px;
  padding-bottom: 3px;
  width:$blackButtonWidth;
  text-align: center;
  @include media($medium-screen-down){
    margin-bottom:15px;
  }
}
