
.black-box{
  margin:-4px;
  border:8px solid #000;
  padding:2em;
}

.black-box--thin{
  @extend .black-box;
  border-width:4px;
  margin:-2px;
}


.topSliderBox{
  @extend .black-box;
}
.mainBox{
  //@extend .black-box;
}

.sidebarBox{
  //@extend .black-box;
}
.footerBox{
  @extend .black-box;
}

.articlePage{
  @extend .black-box;
}

.relationArticles{
  @extend .black-box;
}

.newArticles{
  @extend .black-box;
}

.plartFactory{
  @extend .black-box;
}
