
.black-box{
  border:$box-border-width solid black;
  border-bottom-width:0;
  padding:$box-padding;
}

.black-box--thin{
  @extend .black-box;
  border-width:$box-border-width-thin;
  border-bottom-width:$box-border-width-thin;
}


.mainBox{
  //@extend .black-box;
}

.sidebarBox{
  //@extend .black-box;
}
.footerBox{
  @extend .black-box;
}
