.black-box{
  border:$box-border-width solid black;
  border-bottom-width:0;
  padding:$box-padding;

  @include media($medium-screen-down) {
    padding:$box-padding-sp;
  }

}

.black-box--last{
  border-bottom-width: $box-border-width;
}

.black-box--thin{
  @extend .black-box;
  border-width:$box-border-width-thin;
  border-bottom-width:$box-border-width-thin;
}

