
$categoryBox-width:512px;
$categoryBox-height:132px;


.categoryBox{
  @extend .black-box--thin;

  box-sizing:border-box;


  padding:22px 32px;

  position:absolute;
    bottom:-$categoryBox-height/2;
    left:36px;
    z-index:10;

  width:512px;
  height: $categoryBox-height;

  background:white;
}


.categoryBox__table{

  font-size:1.75rem;
  margin:0;
  td{
    margin:0;
    padding:0;
    border:none;
    line-height: 1.7;
  }
}

.categoryBox__art {

  font-family:$heading-font-family;
  font-weight:$heading-font-weight;
  width:15%;

  font-size:$font-size-big;
  letter-spacing: 0.3em;

}
.categoryBox__cross{
  text-align:center;
  font-size:$font-size-big;

  width:12%;
}

.categoryBox__catName{
  a{

    color:#000;
    border-bottom:solid 1px $color-plart-gray;
  }

  width:24%;
  letter-spacing: $small-letter-spacing;
}


.categoryBox.--place .categoryBox__catName.--place,
.categoryBox.--people .categoryBox__catName.--people,
.categoryBox.--thing .categoryBox__catName.--thing{

  a{
    color:$color-plart-gray;
  }

}

.categoryBox__catContent {
  width:50%;

  font-size:$font-size-small;
  a{
    color:#000;

    text-decoration:none;
    &:hover{
      text-decoration:none;
    }
  }
}
