
.contentsLayout--1big2small{

  @extend .clearfix;
  position:relative;
}

.contentsLayout--1big2small__big1{
  @include span-columns(2 of 3);


  @include media($medium-screen-down){
    @include span-columns(2 of 2);
  }

}

.contentsLayout--1big2small__small2{
  @include span-columns(1 of 3);

  @include media($medium-screen-down){
    @include span-columns(2 of 2);
  }
}

.contentsLayout--1big2small__small{

  @include media($medium-screen-down){
    @include span-columns(1 of 2);
  }


  &.--first{

  }

  &.--last{

    @include media($medium-screen-up){
      @include span-columns(1 of 3);
      position:absolute;
      bottom:0;
      right:0;


    }

  }
}


.contentsLayout--3cols{
  clear:both;
  @include outer-container;
  li{
    display: inline-block;
  }
}



.contentsLayout__3items{
}

.contentsLayout__item{
  @include span-columns(1 of 3);

  @include media($medium-screen-up){
    @include omega(3n);
  }


  @include media($medium-screen-down){
    
    @include span-columns(1 of 2);

    @include omega(2n);

  }
}

.contentsLayout__3items--grid{
  display: block;
  width:calc(100% / 3);
  float:left;
}

.contentsLayout--grid{
  clear:both;
  @include outer-container;
  li{
    display: inline-block;
  }
}

$grid-layout-padding:15px;
.contentsLayout__item--grid{
  display: inline;
  vertical-align: top;
  width:100%;
  padding: $grid-layout-padding;
  margin-top: -1px;
  margin-left: -1px;
  border:solid 1px gray;
}



$footerTitleFontSize:30px;
$footeTitleMarginBottom:15px;
$footerMenuFontSize:10px;

.contentsLayout--3lines{
  @extend .clearfix;
}
.contentsLayout--3lines--menuList{
  margin: 0px;
  padding:0px;
}

.contentsLayout--3lines--menu{
  float:left;
  font-size: $footerMenuFontSize;
  line-height: $footerMenuFontSize;
  margin-bottom: 0px;
  margin-right: 5px;
}

.contentsLayout--3lines--br{
  margin: 0px;
  padding:0px;
}

