$coverBadge-size:60px;
$coverBadge-size-big:100px;
$coverBadge-font-size: $coverBadge-size /6;
$coverBadge-font-size-big:$coverBadge-size-big /6;

.coverBadge{
  position:relative;

  border-radius: $coverBadge-size/2;

  width:$coverBadge-size;
  height:$coverBadge-size;

  background:$color-plart-yellow;


  font-size:$coverBadge-font-size;

  &.--big{
    width:$coverBadge-size-big;
    height:$coverBadge-size-big;

    border-radius: $coverBadge-size-big/2;

    font-size:$coverBadge-font-size-big;
    & .coverBadge__text{
      line-height: $coverBadge-size-big;

    }

  }
}

.coverBadge__text{
  width:100%;
  height:100%;

  line-height: $coverBadge-size;
  text-align:center;




}
