$featureBox-number-font-size:14px;
$featureBox-title-font-size:30px;

.featureBox{

}


.featureBox__number{
  @extend .black-box--thin;
  display:inline-block;
  padding: 10px 15px;
  background-color:$color-plart-yellow;


  @include media($medium-screen-down){
    font-size:$font-size-normal;
    padding: $box-padding-sp*0.8;
  }

}

.featureBox__title {
  @extend .black-box--thin;
  box-sizing:border-box;

  margin-top: - $box-border-width-thin;

  display:inline-block;
  padding: 20px;
  max-width:500px;

  line-height:1.1;
  font-size:$font-size-extrabig;
  background-color:rgba(255,255,255,0.9);


  @include media($medium-screen-down){
    font-size:$font-size-semibig;
    max-width:260px;
    padding: $box-padding-sp;
  }
}
