
.footerBox{
  @extend .black-box;
  @extend .black-box--last;

    li {
        display: inline-block;
        margin-right: 10px;
        letter-spacing: $small-letter-spacing;
        font-size: 0.9em;
        a{
          border-bottom: none;
        }
        &:after{
          margin-left: 10px;
          content:"|";
        }
        &:last-child:after{
          content:"";
        }
    }
}

.footerBox__icon{
  float:right;

  width:109px;
  @include media($medium-screen-down){
    width: 69px;
    position: absolute;
    bottom: 30px;
    right: 30px;
  }
}

.footerBox__menuBox{
  clear: both;
  margin-bottom: 1em;
}
