
.footerBox{
  position: relative;

  .blackButton {
    display: block;
    letter-spacing: 0.13em;
    position: absolute;
    margin: 0;
    top: -20px;
    right: 50%;
    margin-right: -115px;
    width: 230px;
  }
  @extend .black-box;
  @extend .black-box--last;

    li {
        display: inline-block;
        margin-right: 10px;
        letter-spacing: $small-letter-spacing;
        font-size: 0.9em;
        line-height: 2.8;
        a{
          border-bottom: none;
        }
        &:after{
          margin-left: 10px;
          content:"|";
        }
        &:last-child:after{
          content:"";
        }
    }
}

.footerBox__icon{
  float:right;

  width:109px;
  @include media($medium-screen-down){
    width: 69px;
    position: absolute;
    bottom: 30px;
    right: 30px;
  }
}

.footerBox__menuBox{
  clear: both;
  margin-bottom: 1em;
}

.footerBox__siteTitle{
  @include media($medium-screen-down){
    margin-top: 1em;
  }
}
