
.globalNav{

  position:absolute;
  right:$box-padding-small;
  bottom:$box-padding-small;

  text-align:right;

}

.globalNav__item{

  display:inline;
  margin-left:1.2em;
  letter-spacing: 0.13em;


  line-height:1;

  border-bottom:1px solid $color-plart-gray;

}
