
$globalNavBox-height:280px; //あとで設定！

$titleBox-margin-left: 55px;
$titleBox-margin-top: 28px;


.globalNavBox{

  @extend .black-box;

  position:relative;

  height: $globalNavBox-height - 2 * $box-padding;

  @include media($medium-screen-down){
    //あとでpaddingとか
    height:auto;
  }

}



.globalNavBox__spButton{
  display:none;

  @include media($medium-screen-down){
    display:block;
  }

  position:absolute;
    top: 36px;
    right: 15px;

    .spMenuButton {
    width: 20px;
    height: 18px;
  }

}

.globalNavBox__plartLogo{  // あとでやる
  position:absolute;
    top: 26px;
    right: 26px;

  width: 109px;
  height: 76px;

  @include media($medium-screen-down){
    display:none;
  }

}

.globalNavBox__titleBox{
  margin-left:3px;
  margin-top:$titleBox-margin-top - $box-padding;

  @include media($medium-screen-down){
    margin:20px 0;

    text-align:center;


  }

}

.globalNavBox__siteDesc{
  line-height:1;
  margin-bottom:8px;

  font-size:$font-size-small;
  @include media($medium-screen-down){
    text-align:center;
  }
}

.globalNavBox__siteTitle{
  line-height:1;

  margin:0px;

  @include media($medium-screen-down){
    text-align:center;
  }

}
