.humanProfile{

}


.humanProfile{
  @extend .clearfix;
  border-bottom:solid $color-plart-gray 1px;

  margin-bottom:5em;
}

.humanProfile__title{
}


.humanProfile__image{
  float:left;
  width:20%;
}


.humanProfile__desc{

}

.humanProfile__name{
}

.humanProfile__intro{
}


