  

.keywordTags {

}

.keywordTags__title{

}
 
.keywordTags__list{
  color:white;

}

.keywordTags__item{
  color:white;
  display:inline-block;

  background:$color-plart-gray;
  padding:5px;
  margin:5px 5px 5px 0px;


}

.keywordTags__link{
  color:white;

}


