.mainBoxContainer{
  margin-left:-$box-border-width;


  @include media($medium-screen-down) {
    margin-left:-$box-border-width;
    margin-right:-$box-border-width;
  }

}

.mainBox{
  @extend .black-box;
}


.mainBox__title{
  padding:0px;
  margin:0px;
  margin-bottom: 10px;
  font-size: $font-size-big;
  margin-right: 10px;
  letter-spacing: $small-letter-spacing;
}

.mainBox__subTitle{
  display:inline;

  margin-left:1em;

  font-size: $font-size-normal;
  font-family: $base-font-family;
  font-weight: $base-font-weight;
}


.mainBox--article{
  @extend .mainBox;
  padding-top:80px;


  @include media($medium-screen-down) {
    padding-top:inherit;
  }

}
