
.mainBox{
  @extend .black-box;
}

.mainBox__title{
  padding:0px;
  margin:0px;
  margin-bottom: 10px;
  font-size: $titleFontSize;
  margin-right: 10px;
}

.mainBox__subTitle{
  display:inline;

  font-size: $subTitleFontSize;
  font-family: $base-font-family;
  font-weight: $base-font-weight;
}

.mainBox--article{
  @extend .mainBox;
  padding-top:80px;
}

