
.page{
  @include outer-container;
  margin-top: 20px;
  width:1200px;
  //padding:0px 100px 0px 100px;
}

.page__header{

}

  .page__globalNav{

  }

  .page__topSlider{
    background:brown;

  }

.page__content{
  @include outer-container;
}


.page__main{
  @include span-columns(3 of 4);

  background:blue;
}

.page__sidebar{
  @include span-columns(1 of 4);
  background:green;
}

.page__footer{

}
