
$page-margin-top:$box-padding * 1.4;

.page{
  @include outer-container;
  margin-top:$page-margin-top ;
  margin-bottom:$page-margin-top ;
  width:1200px;
  //padding:0px 100px 0px 100px;
}

.page__header{


}

  .page__globalNav{

  }

  .page__topSlider{

  }

.page__content{
  @extend .clearfix;

  border-right:solid $box-border-width black;

}


.page__main{
  box-sizing:border-box;
  float:left;
  width:870px;

}

.page__sidebar{
  box-sizing:border-box;
  float:right;
  width:326px;

}

.page__footer{

}
