
.page{
  @include outer-container;
  margin-top: 20px;
  width:1200px;
  //padding:0px 100px 0px 100px;
}

.page__header{

}

  .page__globalNav{

  }

  .page__topSlider{
    background:brown;

  }

.page__content{
  @extend .clearfix;
}


.page__main{
  float:left;
  width:75%;

  background:blue;
}

.page__sidebar{
  float:right;
  width:25%;

  background:green;
}

.page__footer{

}
