
//サイズはかる

$plartStoryNumber-size:100px;
$plartStoryNumber-font-size:14px;

$plartStoryNumber-padding-size:10px;


.plartStoryNumber{


  display: block;
  background: $color-plart-yellow;
  width: $plartStoryNumber-size;
  height: $plartStoryNumber-size;
  border-radius: $plartStoryNumber-size /2;
  text-align: center;

  border:$box-border-width-thin solid #000;
  padding: $plartStoryNumber-padding-size;
}


.plartStoryNumber__title{

  line-height:1;
  letter-spacing: 2px;
  margin-bottom:10px;
}

.plartStoryNumber__title--plart{
  @extend.plartStoryNumber__title;

  font-family:$heading-font-family;
  font-weight:$heading-font-weight;
  font-size: $plartStoryNumber-font-size;
}

.plartStoryNumber__title--story{
  @extend.plartStoryNumber__title;

  font-family:$base-font-family;
  font-weight:$base-font-weight;

  font-size: $plartStoryNumber-font-size;


}

.plartStoryNumber__number{
  font-size: 12px;

  margin:auto;
  margin-top: -6px;
  padding-top: 6px;
  border-top: solid 1px black;
}
