
.plartStoryNumber{

  box-sizing:border-box;

  display: block;
  background: $color-plart-yellow;
  width: $plartStoryNumber-size;
  height: $plartStoryNumber-size;
  border-radius: $plartStoryNumber-size /2;
  text-align: center;

  border:$box-border-width-thin solid #000;
  padding: $plartStoryNumber-padding-size;

  font-size: $font-size-semibig;

  //text-justify:inter-ideograph;


}


.plartStoryNumber__title{

  line-height:1;
  margin-bottom:4px;
  -moz-text-align-last:justify;
  text-align-last:justify;
  width:100%;
}

.plartStoryNumber__title--plart{
  @extend.plartStoryNumber__title;

  font-family:$heading-font-family;
  font-weight:$heading-font-weight;
}

.plartStoryNumber__title--story{
  @extend.plartStoryNumber__title;

  font-family:$base-font-family;
  font-weight:$base-font-weight;



}

.plartStoryNumber__number{

  width:100%;
  margin:auto;
  margin-top: 8px;
  border-top: solid 1px black;

  font-size: $font-size-medium;
}
