
.pressReleaseBox{
  height:300px; 
  overflow-y:scroll
}

.pressReleaseBox__item{
  display:block;
  margin-bottom:1em;

  border-bottom:0;
}

.pressReleaseBox__title{
}

.pressReleaseBox__content{

}
