
$seriesBox-font-size:2rem;

.seriesBox{
  @extend .black-box--thin;
  padding:17px 26px;
  background:$color-plart-yellow;

  font-size: $seriesBox-font-size;

  line-height:1;
  font-family: $heading-font-family;
  letter-spacing: $small-letter-spacing;



  @include media($medium-screen-down) {
    display:none;
  }

}


.seriesBox__siteTitles{

  font-size: $base-font-size;

  .siteTitle{
    font-size: $base-font-size;
  }
}
