
.shareLink{
}

.shareLinks__title {
  display:inline-block;
  margin-right: 5px;


}

.shareLinks__content{
  display:inline-block;

  width:50%;

}

.fb_iframe_widget,
.fb_iframe_widget span,
.fb_iframe_widget iframe[style]{
  width: 100% !important;
}
