
.sidebarBoxContainer{
  margin-left:-$box-border-width;
  margin-right:-$box-border-width;
}

.sidebarBox{
  @extend .black-box;
  padding:$box-padding-small;

  &.--nopadding{
    padding:0;
  }
}


.sidebarBox__title{
  font-size: $font-size-semibig;
  letter-spacing: $small-letter-spacing;
  margin-bottom: 10px;
}
