$titleFontSize:1.4rem;

.sidebarBoxContainer{
  margin-left:-$box-border-width;
  margin-right:-$box-border-width;
  width:auto;
}

.sidebarBox{
  @extend .black-box;
  padding:$box-padding-small;
}


.sidebarBox__title{
  font-size: $titleFontSize;

  margin-bottom: 10px;
}

