.singleArticle{

}


.singleArticle__title{
  margin-top: 2em;
  margin-bottom: 1em;

  background: linear-gradient(transparent $gradient, #d5ff00 $gradient);

  display:inline-block;
}


.singleArticle__right{
  float:right;
}
