
.siteTitle{

}

.siteTitle__plart{

  font-family:$heading-font-family;
  font-weight:$heading-font-weight;

}

.siteTitle__story{
  font-family:$base-font-family;
  font-weight:$base-font-weight;

}
