.snsLinks
{
  font-size: 1.6rem;
  font-weight: bold;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
    &--text{
      margin: 0 10px 0 0;
      letter-spacing: $small-letter-spacing;
    }
    a{
      border-bottom: none;
    }
  &--icon{
    display: inline-block;
    margin-left: 10px;
    width: 20px;
    margin: 0 0 0 12px;
    padding-top: 8px;
  }
}

.mainBox .AlpinePhotoTiles-highlight-div {
    padding: 10px;
    margin-right: 5px;
    margin-bottom: 5px;
}
