
.spMenu{
  display:none;
  @extend .black-box;
  @extend .black-box--last;
  padding:2rem;

  position: absolute;
    top:$box-padding-sp;
    right:$box-padding-sp;
    z-index:200;


  width:70%;

  background:white;

  line-height:1;
  letter-spacing:0.1em
}

.spMenuBg{
  display:none;

  position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index:190;

  background:rgba(0,0,0,0.6);
}

.spMenu__art {
  font-size: $font-size-extrabig;
  font-family: $heading-font-family;
  font-weight: $heading-font-weight;

  margin-bottom:0.5rem;
}
.spMenu__cross {
  font-size: $font-size-extrabig;
  margin-bottom:0.5rem;
}
.spMenu__categoryList{
} 
.spMenu__categoryItem{ 
  font-size: $font-size-extrabig;
  margin-bottom:1rem;
}
.n.spMenu__categoryTitle{
  display:block;

  font-size: $font-size-big;
  font-family: $base-font-family;
  font-weight: $base-font-weight;
  margin-bottom:0.5rem;
}

.spMenu__categoryLink{

  border-bottom:1px solid black;
}
.spMenu__categoryDesc {
  font-size: $font-size-normal;
  margin-bottom:0.5rem;

}
.spMenu__nav{

}

.spMenuButton{
  margin:0;
  padding:0;
  width:30px;
  height:30px;
  border-radius:0;
  background:black;

}
