
.topSliderBox{
  @extend .black-box;
  position:relative;
  height: $topSliderBox-height ;

  box-sizing:content-box;
  padding:0;


  @include media($medium-screen-down){
    height:$topSliderBox-height-sp;
  }
}

.topSliderBox__number{
  position:absolute;
    top:$box-padding;
    right:$box-padding;

  @include media($medium-screen-down){
    top:$box-padding-sp;
    right:$box-padding;

    transform-origin:right top;
    transform:scale(0.5);


  }
}

.topSliderBox__featureBox{
  position:absolute;
    bottom:$box-padding;
    left:$box-padding;

  @include media($medium-screen-down){
    bottom:$box-padding-sp;
    left:$box-padding-sp;
  }
}

.topSliderBox__seriesBox{
  position:absolute;
    bottom:-30px; //高さ
    right:$box-padding-small;



  @include media($medium-screen-down){
    display:none;
  }

}
