//////////// basic framework////////////
@import "normalize";
//@import "bourbon";
@import "node_modules/bourbon/app/assets/stylesheets/bourbon";
@import "base/grid-settings";
@import "neat";

@import "base/base"; //bitters これは変えちゃっていいもの。

body{

}

//fundamental
@import "clearfix";

@import "boxes";


//modules

@import "page";

@import "siteTitle";
@import "categoryBox";
@import "globalNav";
@import "globalNavBox";
@import "topSliderBox";
@import "plartStoryNumber";
@import "featureBox";
@import "seriesBox";
@import "contentsLayout";
@import "blackButton";
@import "mainBox";
@import "articleBox";
@import "sidebarBox";
@import "articleBox--ranking";
@import "footerBox";
@import "singleArticle";
@import "breadCrumb";
@import "shareLinks";
@import "shareIcon";


.banner--1{
  height: $bannerHeight;
  background: brown;
  width:100%;
}

.banner--2{
  height: $bannerHeight;
  background: purple;
  height:180px;
}

.slider--pickup{
  height:$pickupSliderHeight;
  background: red;
}

.instagramBox{
  height:$instagramHeight;
  background: pink;
}

.partnersBox{
  height:$partnersHeight;
  background: red;

}

.partners--1{
  @include span-columns(1 of 6);
  margin-right: 5px;
}

.partners--2{
  @include span-columns(1 of 6)
}








.plartFactory__link{
  height: $plartFactoryLinkHeight;
  width:100%;
  background: red;
}
