extends layout

block content
  div.page
    div.page__header
      div.page__globalNav
        div.globalNavBox

          img.globalNavBox__plartLogo(src="lj")
          p.globalNavBox__siteDesc アートがライフスタイルになるウェブマガジン
          h1.globalNavBox__siteTitle PLART STORY

          .categoryBox
            table.categoryBox__table
              tr
                td.categoryBox__art(rowspan="3") ART
                td.categoryBox__cross(rowspan="3") X
                td.categoryBox__catName
                  a(href="") PEOPLE
                td.categoryBox__catContent 人、アーティスト
              tr
                td.categoryBox__catName
                  a(href="") PLACE
                td.categoryBox__catContent  場、空間、
              tr
                td.categoryBox__catName
                  a(href="") THING
                td.categoryBox__catContentモノ、コト、



          div.globalNav
            ul
              li.globalNav__item
                a(href="") ABOUT
              li.globalNav__item
                a(href="") HEY!ART
              li.globalNav__item
                a(href="") PARTNERS




      div.page__topSlider
        div.topSliderBox
          p slide

    .page__content
      .page__main
        .mainBox
          .contentBox
            .contentBox__wahtsNew
              h2 WHAT'S NEW
              .articles__left
                .articles__sliders
                  .category ART X PLACE
                  .number 3月15日号
                  .article__slider
                    p slider
                    p slider
                .articles__left__left
                  .articleBox
                    .category ART X PEOPLE
                    .number xx/yy
                    .article
                      jaaf
                .articles__left__right
                    .articleBox
                      .category ART X PEOPLE
                      .number xx/yy
                      .article
                        lsjalfa
              .articles__right
                .articleBox#articleNo1
                  .category ART X PEOPLE
                  .number xx/yy
                  .article
                    jaaf
                .articleBox
                  .category ART X PEOPLE
                  .number xx/yy
                  .article
                    lsjalfa
                .articleBox
                  .category ART X PEOPLE
                  .number xx/yy
                  .article
                    jaaf
              p.viewMore
                a(href="#")  VIEW MORE

          .contentBox
            .contentBox__backNumber
              h2 BACK NUMBER
          .contentBox
            .contentBox__banner
              h2 banne
          .contentBox
            .contentBox__pickUp
              h2 PICK UP
          .contentBox
            .contentBox__instagram
              h2 INSTAGRAM
          .contentBox
            .contentBox__partners
              h2 PARTNERS
              p fumicode
              p redimpals

      .page__sidebar
        .sidebarBox
          .sidebarBox__plartStory
        .sidebarBox
          .sidebarBox__plartStory
        .sidebarBox
          .sidebarBox__searchBar
        .sidebarBox
          .sidebarBox__ranking
            h2 RANKING
        .sidebarBox
          .sidebarBox__pressRelease
            h2 PRESS RELEASE
        .sidebarBox
          .sidebarBox__facebook
            h2 FACEBOOK
        .sidebarBox
          .sidebarBox__twitter
            h2 TWITTER

    div.page__footer
      div.footerBox
        h2 title
