extends layout

block content
  div.page
    div.page__header
      div.page__globalNav
        div.globalNavBox

          img.globalNavBox__plartLogo(src="lj")
          p.globalNavBox__siteDesc アートがライフスタイルになるウェブマガジン
          h1.globalNavBox__siteTitle PLART STORY

          .categoryBox
            table.categoryBox__table
              tr
                td.categoryBox__art(rowspan="3") ART
                td.categoryBox__cross(rowspan="3") X
                td.categoryBox__catName
                  a(href="") PEOPLE
                td.categoryBox__catContent 人、アーティスト
              tr
                td.categoryBox__catName
                  a(href="") PLACE
                td.categoryBox__catContent  場、空間、
              tr
                td.categoryBox__catName
                  a(href="") THING
                td.categoryBox__catContentモノ、コト、



          div.globalNav
            ul
              li.globalNav__item
                a(href="") ABOUT
              li.globalNav__item
                a(href="") HEY!ART
              li.globalNav__item
                a(href="") PARTNERS




      div.page__topSlider
        div.topSliderBox
          p slide

    .page__content
      .page__main
        .mainBox
          .contentBox
            .contentBox__title
              h2 WHAT'S NEW

            .contentBox__upper
              .contentBox__sliderBox
                p slider
                p slider
              .contentBox__articlesBox
                .articleBox
                  .articleBox__category
                    ART ✕ PEOPLE
                  .articleBox__number
                    3月15日号
                  .articleBox__image
                  .articleBox__subscription
                    あああ
                .articleBox
                  header.articleBox__header
                    .articleBox__category
                      ART ✕ PEOPLE
                    time.articleBox__number
                      3月15日号
                  image.articleBox__image
                  h2.articleBox__subscription　title //高さ固定してok
            .contentBox__lower
              .articleBox
                .articleBox__category
                  ART ✕ PEOPLE
                .articleBox__number
                  3月15日号
                .articleBox__image
                .articleBox__subscription
                  あああ
              .articleBox
                .articleBox__category
                  ART ✕ PEOPLE
                .articleBox__number
                  3月15日号
                .articleBox__image
                .articleBox__subscription
                  あああ
              .articleBox
                .articleBox__category
                  ART ✕ PEOPLE
                .articleBox__number
                  3月15日号
                .articleBox__image
                .articleBox__subscription
                  あああ

          .contentBox
            .contentBox__title
              h2 BACK NUMBER
          .contentBox
            .contentBox__title
              h2 banner
          .contentBox
            .contentBox__title
              h2 PICK UP
          .contentBox
            .contentBox__title
              h2 PARTNERS

      .page__sidebar
        .sidebarBox
          .sidebarBox__plartStory
        .sidebarBox
          .sidebarBox__plartStory
        .sidebarBox
          .sidebarBox__searchBar
        .sidebarBox
          .sidebarBox__ranking
            h2 RANKING
        .sidebarBox
          .sidebarBox__pressRelease
            h2 PRESS RELEASE
        .sidebarBox
          .sidebarBox__facebook
            h2 FACEBOOK
        .sidebarBox
          .sidebarBox__twitter
            h2 TWITTER

    div.page__footer
      div.footerBox
        h2 title
