doctype html
html
  head
    title= title

    - wp_enqueue_style('raleway', "https://fonts.googleapis.com/css?family=Raleway:700", array(), time() );
    - wp_enqueue_style('style', get_stylesheet_uri(), array(), time() );
    - wp_head();


    block head_end
  body
    div.page
      div.page__header
        block head
      div.page__content
        div.page__main
          block content
        div.page__sidebar
          block sidebar

      div.page__footer
        block foot

      -wp_footer();
    block body_end
