doctype html
html
  head
    title PLART STORY | LIFE IS ART！ アートがライフスタイルになるウェブマガジン
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="PLART,LIFE IS ART,プラート,ART,アート,LIFE" />
    <link rel='dns-prefetch' href='//oss.maxcdn.com' />
    <link rel='dns-prefetch' href='//s.w.org' />
    <link rel="alternate" type="application/rss+xml" title="PLART STORY &raquo; フィード" href="http://www.plart-story.jp/feed/" />
    <link rel="alternate" type="application/rss+xml" title="PLART STORY &raquo; コメントフィード" href="http://www.plart-story.jp/comments/feed/" />
    <meta name="description" content="LIFE IS ART！ アートがライフスタイルになるウェブマガジン" />
    

    - wp_enqueue_style('raleway', "https://fonts.googleapis.com/css?family=Montserrat", array(), time() );
    - wp_enqueue_style('style', get_stylesheet_uri(), array(), time() );
    - wp_enqueue_script('jquery');
    - wp_head();


    block head_end
  body
    <div id="fb-root"></div><script>(function(d, s, id) {var js, fjs = d.getElementsByTagName(s)[0];if (d.getElementById(id)) return;js = d.createElement(s); js.id = id;js.src = "//connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v2.3&appId=1810486322562458";fjs.parentNode.insertBefore(js, fjs);}(document, 'script', 'facebook-jssdk'));</script><script>(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');ga('create', 'UA-87349986-1', 'www.plart-story.jp');ga('send', 'pageview');</script>
    div.page
      div.page__header
        block head
      div.page__content
        div.page__main
          block content
        div.page__sidebar
          block sidebar

      div.page__footer
        block foot


      include ../includes/spMenu


    - wp_footer();
    block body_end
    script.
      jQuery(function(){
        var $spMenu = jQuery("#spMenu");
        var $spMenuButton= jQuery("#spMenuButton");
        var $spMenuBg = jQuery("#spMenuBg");
        var $spMenuClose = jQuery("#spMenu__close");

        $spMenuButton.click(function(){
          $spMenu.fadeIn();
          $spMenuBg.fadeIn(); 
          $spMenuClose.fadeIn();      
        });
        $spMenuBg.click(function(){
          $spMenu.fadeOut();
          $spMenuBg.fadeOut(); 
          $spMenuClose.fadeOut();         
        });
        $spMenuClose.click(function(){
          $spMenu.fadeOut();
          $spMenuBg.fadeOut(); 
          $spMenuClose.fadeOut();       
        });

      });
