.footerBox
  h2.footerBox__siteTitle
    span.siteTitle 
      span.siteTitle__plart PLART
      span.siteTitle__story STORY

  img.footerBox__icon(src="#")

  p.footerBox__menu
    a(href="#") プレスリリースに関するお問い合わせ 
    | | 
    a(href="#") 広告掲載＆パートナー様について 
    | | 
    a(href="#") 問い合わせ 

  p.footerBox__menu
    a(href="#") 利用規約・PRIVACY POLICY 
    | | 
    a(href="#") 運営メンバー＆PHILOSOPHY 
    | | 
    a(href="#") ABOUT US 運営情報 
    
  p.footerBox__menu
    a(href="#") PLARTからのプレスリリース 
  
  include ./snsLinks
