.footerBox
  h2.footerBox__siteTitle
    span.siteTitle 
      img(src="<?= get_stylesheet_directory_uri()?>/public/image/plart_logo3.png" alt="アートがライフスタイルになるウェブマガジン PLART")
  
  a(href="/")
    img.footerBox__icon(src="<?= get_stylesheet_directory_uri()?>/public/image/plart_logo.png")
  
  nav
    :php
      wp_nav_menu( array(
        'theme_location'=>'footer_menu_1', 
        'container'     =>'', 
        'menu_class'    =>'footerBox__menu'));
        
      wp_nav_menu( array(
        'theme_location'=>'footer_menu_2', 
        'container'     =>'', 
        'menu_class'    =>'footerBox__menu'));
      
      wp_nav_menu( array(
        'theme_location'=>'footer_menu_3', 
        'container'     =>'', 
        'menu_class'    =>'footerBox__menu'));
  
  include ./snsLinks
