.footerBox
  h2.footer__siteTitle
      .siteTitle--PLART PLART
      .siteTitle--STORY STORY
  img.footerBox__icon(src="#")
  .footerBox__menuBox
    .contentsLayout--3lines
      ul.contentsLayout--3lines--menuList
        li.contentsLayout--3lines--menu
          a(href="#") プレスリリースに関するお問い合わせ
        li.contentsLayout--3lines--menu |
        li.contentsLayout--3lines--menu
          a(href="#") 広告掲載＆パートナー様について
        li.contentsLayout--3lines--menu |
        li.contentsLayout--3lines--menu
          a(href="#") 問い合わせ
        li <br>
      ul.contentsLayout--3lines--menuList
        li.contentsLayout--3lines--menu
          a(href="#") 利用規約・PRIVACY POLICY
        li.contentsLayout--3lines--menu |
        li.contentsLayout--3lines--menu
          a(href="#") 運営メンバー＆PHILOSOPHY
        li.contentsLayout--3lines--menu |
        li.contentsLayout--3lines--menu
          a(href="#") ABOUT US 運営情報
        li <br>
      ul.contentsLayout--3lines--menuList
        li.contentsLayout--3lines--menu
          a(href="#") PLARTからのプレスリリース
