
mixin plartStoryNumber(month_num) 
  div.plartStoryNumber
    p.plartStoryNumber__title--plart 
      span P
      span(style="font-size:1px") 
      span L
      span(style="font-size:1px") 
      span A
      span(style="font-size:1px") 
      span R
      span(style="font-size:1px") 
      span T
    p.plartStoryNumber__title--story  
      span S
      span(style="font-size:1px") 
      span T
      span(style="font-size:1px") 
      span O
      span(style="font-size:1px") 
      span R
      span(style="font-size:1px") 
      span Y
    p.plartStoryNumber__number !{month_num}月15日号
