.sidebarBoxContainer
  .sidebarBox.--nopadding
    a.sidebarBanner(href="/article_type/heyart/")
      img.sidebarBanner__image(src="<?= get_stylesheet_directory_uri()?>/public/image/banner-1.jpg")
  .sidebarBox.--nopadding
    a.sidebarBanner
      img.sidebarBanner__image(src="<?= get_stylesheet_directory_uri()?>/public/image/banner-2.png")

  - if(!wp_is_mobile()):
    .sidebarBox 
      //searchbar
      - get_search_form();
      include ./snsLinks
  - endif;

  .sidebarBox
    h2.sidebarBox__title RANKING

    - if (function_exists('sga_ranking_get_date')):
    -   $ranking_data = sga_ranking_get_date();
    -   if ( !empty( $ranking_data ) ):
    -     $sidebar_index = 1;
    -     foreach ( $ranking_data as $post_id ):
      a(href="<?= the_permalink($post_id) ?>")
        .articleBox--ranking
          - if(has_post_thumbnail($post_id)):
          -   echo get_the_post_thumbnail($post_id, "square", array('class'=>'articleBox--ranking--thumbnail'));
          - else:
            img.articleBox--ranking--thumbnail(src="<?= get_stylesheet_directory_uri()?>/public/image/thumb3x3.png")
          - endif;
          .articleBox--ranking--right
            .articleBox--ranking--rank 
              - echo $sidebar_index ++;
            .articleBox--ranking--title
              - echo get_the_title($post_id);
    -     endforeach;
    -   endif;
    - endif;


  .sidebarBox
    h2.sidebarBox__title PRESS RELEASE

    .pressReleaseBox
      :php
        $args = array(
          'post_type' => 'post',
          'tax_query' => array(
            array(
              'taxonomy' => 'article_type',
              'field' => 'slug',
              'terms' => 'press-release',
            ),
          ),
        );

      - $the_query = new WP_Query( $args );
      - while($the_query->have_posts()): $the_query->the_post();
        a.pressReleaseBox__item(href="<?=the_permalink()?>")
          .pressReleaseBox__title
            - echo get_the_date("Y.n.d")
          .pressReleaseBox__content
            - the_title();

      - endwhile;
      - wp_reset_postdata();

   
  .sidebarBox
    h2.sidebarBox__title FACEBOOK
    <div class="fb-page" data-href="https://www.facebook.com/plartjp" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/plartjp" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/plartjp">PLART（プラート）</a></blockquote></div>
  .sidebarBox
    h2.sidebarBox__title TWITTER
     <a class="twitter-timeline" data-height="600" data-dnt="true" href="https://twitter.com/plartjp">Tweets by plartjp</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
