.sidebarBoxContainer
  .sidebarBox.--nopadding
    a.sidebarBanner(src="<?= get_stylesheet_directory_uri()?>/public/image/thumb3x3.png")
      img.sidebarBanner__image(src="<?= get_stylesheet_directory_uri()?>/public/image/thumb3x3.png")
  .sidebarBox.--nopadding
    a.sidebarBanner(src="<?= get_stylesheet_directory_uri()?>/public/image/thumb3x3.png")
      img.sidebarBanner__image(src="<?= get_stylesheet_directory_uri()?>/public/image/thumb3x3.png")

  .sidebarBox 
    //searchbar
    include ./snsLinks
  .sidebarBox
    h2.sidebarBox__title RANKING

    :php
      $args = array( 
        'post_type' => 'post',
        'posts_per_page' => 10, //5件表示
      );

      $the_query = new WP_Query( $args );

    - $sidebar_index = 1;
    - while($the_query->have_posts()) : $the_query->the_post()

      .articleBox--ranking
        - if(has_post_thumbnail()):
        -   the_post_thumbnail("square", array('class'=>'articleBox--ranking--thumbnail'));
        - else:
          img.articleBox--ranking--thumbnail(src="<?= get_stylesheet_directory_uri()?>/public/image/thumb3x3.png")
        - endif;
        .articleBox--ranking--right
          .articleBox--ranking--rank 
            - echo $sidebar_index ++;
          .articleBox--ranking--title
            - the_title();

    - endwhile;
    - $the_query->rewind_posts()
      

  .sidebarBox
    h2.sidebarBox__title PRESS RELEASE
    .pressRelease__slider
      .slider
        p slider
        p slider
  .sidebarBox
    h2.sidebarBox__title FACEBOOK
    p facebook
  .sidebarBox
    h2.sidebarBox__title TWITTER
    p twitter
