.sidebarBox
  .sidebarBox__plartStory--1
  .sidebarBox__plartStory--2
  .sidebarBox__searchBar searchbar
  .sidebarBox__ranking
    h2.sidebarBox__title RANKING
    .articleBox--ranking
      img.articleBox--ranking--thumbnail(src="http://kingofwallpapers.com/demo/demo-002.jpg")
      .articleBox--ranking--right
        .articleBox--ranking--rank 1
        .articleBox--ranking--title
          | 長いタイトルだとどうなるのかチェックしています。最大で3行になるように色々調整する必要がある。
    .articleBox--ranking
      img.articleBox--ranking--thumbnail(src="http://kingofwallpapers.com/demo/demo-002.jpg")
      .articleBox--ranking--right
        .articleBox--ranking--rank 2
        .articleBox--ranking--title
          | 長いタイトルだとどうなるのかチェックしています。最大で3行になるように色々調整する必要がある。
    .articleBox--ranking
      img.articleBox--ranking--thumbnail(src="http://kingofwallpapers.com/demo/demo-002.jpg")
      .articleBox--ranking--right
        .articleBox--ranking--rank 3
        .articleBox--ranking--title
          | 長いタイトルだとどうなるのかチェックしています。最大で3行になるように色々調整する必要がある。
    .articleBox--ranking
      img.articleBox--ranking--thumbnail(src="http://kingofwallpapers.com/demo/demo-002.jpg")
      .articleBox--ranking--right
        .articleBox--ranking--rank 4
        .articleBox--ranking--title
          | 長いタイトルだとどうなるのかチェックしています。最大で3行になるように色々調整する必要がある。
    .articleBox--ranking
      img.articleBox--ranking--thumbnail(src="http://kingofwallpapers.com/demo/demo-002.jpg")
      .articleBox--ranking--right
        .articleBox--ranking--rank 5
        .articleBox--ranking--title
          | 長いタイトルだとどうなるのかチェックしています。最大で3行になるように色々調整する必要がある。
    .articleBox--ranking
      img.articleBox--ranking--thumbnail(src="http://kingofwallpapers.com/demo/demo-002.jpg")
      .articleBox--ranking--right
        .articleBox--ranking--rank 6
        .articleBox--ranking--title
          | 長いタイトルだとどうなるのかチェックしています。最大で3行になるように色々調整する必要がある。
    .articleBox--ranking
      img.articleBox--ranking--thumbnail(src="http://kingofwallpapers.com/demo/demo-002.jpg")
      .articleBox--ranking--right
        .articleBox--ranking--rank 7
        .articleBox--ranking--title
          | 長いタイトルだとどうなるのかチェックしています。最大で3行になるように色々調整する必要がある。
    .articleBox--ranking
      img.articleBox--ranking--thumbnail(src="http://kingofwallpapers.com/demo/demo-002.jpg")
      .articleBox--ranking--right
        .articleBox--ranking--rank 8
        .articleBox--ranking--title
          | 長いタイトルだとどうなるのかチェックしています。最大で3行になるように色々調整する必要がある。
    .articleBox--ranking
      img.articleBox--ranking--thumbnail(src="http://kingofwallpapers.com/demo/demo-002.jpg")
      .articleBox--ranking--right
        .articleBox--ranking--rank 9
        .articleBox--ranking--title
          | 長いタイトルだとどうなるのかチェックしています。最大で3行になるように色々調整する必要がある。
    .articleBox--ranking
      img.articleBox--ranking--thumbnail(src="http://kingofwallpapers.com/demo/demo-002.jpg")
      .articleBox--ranking--right
        .articleBox--ranking--rank 10
        .articleBox--ranking--title
          | 長いタイトルだとどうなるのかチェックしています。最大で3行になるように色々調整する必要がある。

  .sidebarBox__pressRelease
    h2.sidebarBox__title PRESS RELEASE
    .pressRelease__slider
      .slider
        p slider
        p slider
  .sidebarBox__facebook
    h2.sidebarBox__title FACEBOOK
    p facebook
  .sidebarBox__twitter
    h2.sidebarBox__title TWITTER
    p twitter
