.snsLinks 
  p.snsLinks--text FOLLOW ME !
  p.snsLinks--icon
    a(target="_blank" href="http://instagram.com/plartjp")
      img.snsLinks--icon--instagram(src="<?php echo get_stylesheet_directory_uri(); ?>/public/image/instagram-logo.svg")
  p.snsLinks--icon
    a(target="_blank" href="http://twitter.com/plartjp")
      img.snsLinks--icon--twitter(src="<?php echo get_stylesheet_directory_uri(); ?>/public/image/twitter-logo-silhouette.svg")
  p.snsLinks--icon
    a(target="_blank" href="http://facebook.com/plartjp")
      img.snsLinks--icon--facebook(src="<?php echo get_stylesheet_directory_uri(); ?>/public/image/facebook-app-logo.svg")
  p.snsLinks--icon
    a(target="_blank" href="http://jp.pinterest.com/plartart")
      img.snsLinks--icon--pinterest(src="<?php echo get_stylesheet_directory_uri(); ?>/public/image/pinterest-logo.svg")
