
.page__topSlider
  .topSliderBox

      
    .topSlider
      p slide
      p slide
      p slide
      p slide


    .topSliderBox__number

      a.plartStoryNumber(href="")
        p.plartStoryNumber__title--plart PLART
        p.plartStoryNumber__title--story  STORY
        p.plartStoryNumber__number 3月15日号

    .topSliderBox__featureBox
      .featureBox
        .featureBox__number 3月15日号 特集
        br
        .featureBox__title 女性の感性


    .topSliderBox__seriesBox
      .seriesBox SERIES 

        span.seriesBox__siteTitles
          span.siteTitle 
            span.siteTitle__plart PLART
            span.siteTitle__story STORY
          | 連載



