
.page__topSlider
  .topSliderBox
    #topSlider.topSlider( data-slick='{"slidesToShow":6, "slidesToScroll": 6}')
      div.topSlider__slide
        img.topSlider__image(src="http://kingofwallpapers.com/demo/demo-002.jpg")

      div.topSlider__slide

        img.topSlider__image(src="http://kingofwallpapers.com/demo/demo-002.jpg")

      div.topSlider__slide

        img.topSlider__image(src="http://kingofwallpapers.com/demo/demo-002.jpg")

      div.topSlider__slide

        img.topSlider__image(src="http://kingofwallpapers.com/demo/demo-002.jpg")

      div.topSlider__slide

        img.topSlider__image(src="http://kingofwallpapers.com/demo/demo-002.jpg")

      div.topSlider__slide

        img.topSlider__image(src="http://kingofwallpapers.com/demo/demo-002.jpg")

      // 下記が、body↓に必要だからね  
        script.
          $("#topSlider").slick();
        


    .topSliderBox__number

      a.plartStoryNumber(href="")
        p.plartStoryNumber__title--plart PLART
        p.plartStoryNumber__title--story  STORY
        p.plartStoryNumber__number 3月15日号

    .topSliderBox__featureBox
      .featureBox
        .featureBox__number 3月15日号 特集
        br
        .featureBox__title 女性の感性


    .topSliderBox__seriesBox
      .seriesBox SERIES 

        span.seriesBox__siteTitles
          span.siteTitle 
            span.siteTitle__plart PLART
            span.siteTitle__story STORY
          | 連載



