html{

  font-size:$mobile-font-size;

  @include media($medium-screen-up){
    font-size:$tablet-font-size;
  }

  @include media($large-screen-up){
    font-size:$pc-font-size;
  }
}

body {
  color: $base-font-color;
  font-family: $base-font-family;
  font-feature-settings: "kern", "liga", "pnum";

  font-size: $font-size-normal;

  line-height: $base-line-height;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-weight: $heading-font-weight;
  line-height: $heading-line-height;
  margin: 0 0 $small-spacing;
}


//1 1 2 3 5 8 13 21 34 55
h1,.h1{
  font-size: $font-size-big;
}

h2,.h2{
  font-size: $font-size-big;
}

h3,.h3{
  font-size: $font-size-big;
}

h4,.h4{
  font-size: $font-size-semibig;
}

h4,
.h4{
  border-bottom: solid 1px $color-plart-gray;
  padding-bottom: 1em;
}

h5,.h5{
  font-size: $font-size-normal;
}

h6,.h6{
  font-size: $font-size-normal;
}

h1.n,
h2.n,
h3.n,
h4.n,
h5.n,
h6.n{
  font-size:$font-size-normal;
}


p {
  margin: 0 0 $small-spacing;
}

a {
  color: #000;
  text-decoration: none;

  /*
  transition: color $base-duration $base-timing;

  &:active,
  &:focus,
  &:hover {
    color: shade(#000, 25%);
  }
  */
}

hr {
  border-bottom: $base-border;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: $base-spacing 0;
}

hr.noBorder {
  border:0;

}

hr.bigMargin{

  margin-bottom:100px;
}

img,
picture {
  margin: 0;
  max-width: 100%; //image is basically responsive!
}



.big{
  font-size: $font-size-semibig;
}


table.n{
  border:none;
  padding:0;
  width:auto;
  tr{
    border:none;
    margin:0;
    padding:0;
    td{
      border:none;
      margin:0;
      padding:0;
    }
  }
}


$gradient:68%;
em{
  font-style:normal;
  background: linear-gradient(transparent $gradient, #d5ff00 $gradient);
}

$blockquote-padding:30px;
$quoteImage-width: $blockquote-padding - 15px;
$quoteImage-height: 35px;
$quoteImage-margin:20px;
blockquote{
  //background: green;
  border-top: solid 1px gray;
  border-bottom: solid 1px gray;
  //padding:0px $blockquote-padding 0px $blockquote-padding;
  padding:$blockquote-padding;
  background-image: url(./public/image/quote_left.png),
                    url(./public/image/quote_right.png);
  background-repeat: no-repeat,no-repeat;
  background-position: left top $quoteImage-margin,right bottom $quoteImage-margin;
  background-size: $quoteImage-width $quoteImage-height, $quoteImage-width $quoteImage-height;
}

a{
  border-bottom:solid 1px $color-plart-gray;
}


a.n{
  border-bottom:none;
}
