

$titleFontSize:1.4rem;
$articleBoxHeight:200px;
$bigArticleBoxHeight:400px;
$bannerHeight:100px;
$pickupSliderHeight:100px;
$instagramHeight:150px;
$partnersHeight:300px;



///////////////////////////original color///////////////////////////////


$color-plart-yellow: #e6ff00;
$color-plart-gray: #dcdcdc;
$color-plart-lightgray:#e4e4e4;


////////////// basic size /////////////

$box-padding: 36px;
$box-padding-small: 26px;

$box-border-width:4px;
$box-border-width-thin:2px;

//////////////topbar/////////////


$topbar-height:auto; 

$body-side-margin:1rem;

///////////////////////////BITTERS///////////////////////////////

// Typography
$base-font-family: $verdana;
$base-font-weight: normal;

$heading-font-family: $base-font-family;
$heading-font-weight: bold;

// Font Sizes
$pc-font-size: 62.5%;    // = 10px => 1.6rem = 16px
$tablet-font-size:$pc-font-size;// おなじでよくね
$mobile-font-size:$pc-font-size;// おなじでよくね

$base-font-size: 1.6rem; // パソコンは16px

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$blue: #477dca;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;

// Font Colors
$base-font-color: $dark-gray;
$action-color: $color-plart-yellow;

// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Background Colors
$base-background-color: #fff;
$secondary-background-color: tint($base-border-color, 75%);

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);

// Animations
$base-duration: 150ms;
$base-timing: ease;
