extends layouts/basic-layout

block head
  include ./includes/head
  include ./includes/topSlider

block sidebar
  include ./includes/sidebar

block foot
  include ./includes/foot

block content
  include ./includes/articleBox

  .mainBoxContainer
    .mainBox

      :php
        $args = array( 
          'post_type' => 'post',
          'date_query' => array( 
            array( 
              'compare'=>'BETWEEN', 
              'inclusive'=>true, 
              'after'=>'2017/4/1', // 三月号
              'before'=>'2017/5/1',
            )));
        $the_query = new WP_Query( $args )


      h2.mainBox__title WHAT'S NEW 
      .contentsLayout--1big2small
        - if($the_query->have_posts()) : $the_query->the_post()
          .contentsLayout--1big2small--big
            .sliderBox
              .sliderBox__slide
                +articleBox("big")

        - endif;
        .contentsLayout--1big2small--small

          - if($the_query->have_posts()) : $the_query->the_post()
            +articleBox("smalltop")
          - endif;
          - if($the_query->have_posts()) : $the_query->the_post()
            +articleBox()
          - endif;


      .contentsLayout--3cols
        ul.contentsLayout__3items
          - for($i = 0; $i < 3; $i++):
            - if($the_query->have_posts()) : $the_query->the_post()

              li.contentsLayout__item
                +articleBox()

            - endif;
          - endfor;




      - wp_reset_postdata();

      a.blackButton(href="#") VIEW MORE 
    .mainBox


      :php
        $args = array( 
          'post_type' => 'post',
          'date_query' => array( 
            array( 
              'compare'=>'BETWEEN', 
              'inclusive'=>true, 
              'after'=>'2017/2/1',
              'before'=>'2017/3/1',
            )));

        $the_query = new WP_Query( $args )

      h2.mainBox__title BACK NUMBER

      .contentsLayout--1big2small
        - if($the_query->have_posts()) : $the_query->the_post()
          .contentsLayout--1big2small--big
            .sliderBox
              .sliderBox__slide
                +articleBox("big")

        - endif;
        .contentsLayout--1big2small--small

          - if($the_query->have_posts()) : $the_query->the_post()
            +articleBox("smalltop")
          - endif;
          - if($the_query->have_posts()) : $the_query->the_post()
            +articleBox()
          - endif;


      a.blackButton(href="#") VIEW MORE 

    .mainBox
      img.banner--1(src="http://kingofwallpapers.com/demo/demo-002.jpg")
      img.banner--1(src="http://kingofwallpapers.com/demo/demo-002.jpg")

    .mainBox
      h2.mainBox__title PICK UP
      .sliderBox
        .slide
          .slider--pickup

    .mainBox
      h2.mainBox__title INSTAGRAM
      .instagramBox

    .mainBox
      h2.mainBox__title PARTNERS
      .partnersBox
        .partners--1
          img(src="http://kingofwallpapers.com/demo/demo-002.jpg")
        .partners--1
          img(src="http://kingofwallpapers.com/demo/demo-002.jpg")
        .partners--1
          img(src="http://kingofwallpapers.com/demo/demo-002.jpg")
        .partners--1
          img(src="http://kingofwallpapers.com/demo/demo-002.jpg")

