extends layouts/basic-layout

block head_end
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"/>



block head
  include ./includes/head
  include ./includes/topSlider

block sidebar
  include ./includes/sidebar

block foot
  include ./includes/foot

block body_end
  //<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g=" //crossorigin="anonymous"></script>
  <script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>

  script.

    //特集スライダー
    $topSlider = jQuery("#topSlider").slick({
      autoplay:true,
      autoplaySpeed:4000 //4秒
    });

    $featureBox__title = jQuery("#featureBox__title");
    $topSlider.on("afterChange",function(event, slick, currentIndex){
      currentSlide = slick.$slides[currentIndex]
      console.log(currentSlide);

      var title = currentSlide.dataset.titlestr;

      $featureBox__title.text(title);
    })

    //what's new のスライダー 
    jQuery("#sliderBox").slick({
      autoplay:true,
      autoplaySpeed:4000 //4秒
    });

    //what's new のスライダー 
    jQuery("#bookSlider").slick({
      autoplay:true,
      autoplaySpeed:4000, //4秒
      slidesToShow:4,
      slidesToScroll:1,
    });

block content
  include ./includes/articleBox
  .mainBoxContainer
    .mainBox

      h2.mainBox__title WHAT'S NEW 
      .contentsLayout--1big2small
        .contentsLayout--1big2small--big

          #sliderBox.sliderBox
            :php
              $args = array( 
                'post_type' => 'post',
                'posts_per_page' => 5, //5件表示
              );

              $the_query = new WP_Query( $args )

            - while($the_query->have_posts()) : $the_query->the_post()
              .sliderBox__slide
                +articleBox("big")

            - endwhile;
            - $the_query->rewind_posts()

        .contentsLayout--1big2small--small

          - if($the_query->have_posts()) : $the_query->the_post()
            +articleBox("smalltop")
          - endif;
          - if($the_query->have_posts()) : $the_query->the_post()
            +articleBox()
          - endif;


      .contentsLayout--3cols
        ul.contentsLayout__3items
          - for($i = 0; $i < 3; $i++):
            - if($the_query->have_posts()) : $the_query->the_post()

              li.contentsLayout__item
                +articleBox()

            - endif;
          - endfor;




      - wp_reset_postdata();

      a.blackButton(href="/articles") VIEW MORE 
    .mainBox


      h2.mainBox__title BACK NUMBER

      :php
        $args = array( 
          'post_type' => 'post',
          'category_name' => 'cover',
          'posts_per_page' => 3, 
          'offset' => 1
        );
        $the_query = new WP_Query( $args );

      .contentsLayout--1big2small
        - if($the_query->have_posts()) : $the_query->the_post()
          .contentsLayout--1big2small--big
            .sliderBox
              .sliderBox__slide
                +articleBox("big")

        - endif;
        .contentsLayout--1big2small--small

          - if($the_query->have_posts()) : $the_query->the_post()
            +articleBox("smalltop")
          - endif;
          - if($the_query->have_posts()) : $the_query->the_post()
            +articleBox()
          - endif;


      a.blackButton(href="/category/cover") VIEW MORE 

    .mainBox
      a.n(href="/article_type/artinthehome")
        img(src="<?= get_stylesheet_directory_uri(); ?>/public/image/PLART_banner_1200_540_170513.jpg")
      //a.n(href="/article_type/bussinessandart")
      //  img(src="<?= get_stylesheet_directory_uri(); ?>/public/image/PLART_banner_1200_540_170513.jpg")



    .mainBox
      h2.mainBox__title PICK UP ART BOOK

      #bookSlider.bookSlider


        :php
          $args = array( 
            'post_type' => 'book'

          );

          $the_query = new WP_Query( $args );
        
        - while($the_query->have_posts()): $the_query->the_post();

          a.n.bookSlider__link(href="<?=the_permalink() ?>")
            .bookSlider__item
              - if(has_post_thumbnail()):
              -   the_post_thumbnail("square", array('class'=>'bookSlider__image'));
              - else:
                img.bookSlider__image(src="<?= get_stylesheet_directory_uri(); ?>/public/image/thumb4x3.png")
              - endif;
        - endwhile;
        - wp_reset_postdata();

    .mainBox
      h2.mainBox__title INSTAGRAM
      - if ( is_active_sidebar( 'home-content-foot-widget-area' ) ) :
      - dynamic_sidebar( 'home-content-foot-widget-area' ); 
      - endif;
    


    .mainBox
      h2.mainBox__title PARTNERS
      .partnersBox
        //.partners--1
        img(src="<?= get_stylesheet_directory_uri(); ?>/public/image/partner.jpg")
