extends layouts/basic-layout

block head
  include ./includes/head

block sidebar
  include ./includes/sidebar

block foot
  include ./includes/foot

block content
  .mainBoxContainer
    .mainBox--article
      - while( have_posts() ) : the_post()
        article.singleArticle
          .breadCrumb
            ul.breadCrumb__list
              li.breadCrumb__item
                a.breadCrumb__link(href="/") top
              li.breadCrumb__item--arrow >
              li.breadCrumb__item
                a.breadCrumb__link(href="<? the_permalink() ?>") <?= mb_strimwidth(get_the_title(), 0, 20,"...") ?>
                
          .singleArticle__header
            .singleArticle__titleBox
              h1.singleArticle__title 
                -the_title()

            .singleArticle__shareLinks
              .shareLinks
                h5.shareLinks_title
                - echo do_shortcode('[ssba]');
               
          .singleArticle__thumbnailBox
            .articleThumbnailBox

              - if(has_post_thumbnail()):
              -   the_post_thumbnail("large", array('class'=>'articleThumbnailBox__image'));
              - endif;

          .singleArticle__content
            - the_content();

          hr.noBorder.bigMargin

          footer.singleArticle__footer
            .shareLinks
              h5.shareLinks_title
              - echo do_shortcode('[ssba]');
            hr.noBorder.bigMargin
            
      - endwhile;
      - wp_reset_postdata();
