extends layouts/basic-layout

block head
  include ./includes/head

block sidebar
  include ./includes/sidebar

block foot
  include ./includes/foot


block content
  include ./includes/articleBox

  .mainBoxContainer
    .mainBox--article
      - while( have_posts() ) : the_post()
        article.singleArticle
          .breadCrumb
            ul.breadCrumb__list
              li.breadCrumb__item
                a.breadCrumb__link(href="/") top

              - $cat = get_the_category()[0];
              //coverじゃないときだけ表示
              //つまり、PLACE PEOPLE THING のときだけ 
              - if(strcmp($cat->slug , "cover") != 0): 
                li.breadCrumb__item--arrow > 
                li.breadCrumb__item 
                  a.breadCrumb__link(href="/category/<?= $cat->slug?>") ART ✕ <?= $cat->name ?>
              - endif;


              li.breadCrumb__item--arrow >
              li.breadCrumb__item
                a.breadCrumb__link(href="<?php the_permalink() ?>") <?= mb_strimwidth(get_the_title(), 0, 20,"...") ?>
                

          .singleArticle__header
            .singleArticle__titleBox
              h1.singleArticle__title 
                em
                  -the_title()


            .singleArticle__right
              span.singleArticle__writer PLART編集部 
              span.singleArticle__number <?= get_the_date('Y')?>.<?= get_the_date('n')?>.15


            .singleArticle__shareLinks
              .shareLinks
                h5.shareLinks__title SHARE
                .shareLinks__content 
                  - echo do_shortcode('[ssba]');


          :php
            $terms = get_the_terms($post->ID, "article_type");
            if($terms){
              $top_terms = array_values(array_filter($terms, function($elem){
                return $elem->parent == 0;
              }));

              $top_term = $top_terms[0];

              $article_type_slug = ($top_term->slug);
              $article_type_name = strtoupper($article_type_slug);
            }

          .singleArticle__thumbnailBox
            .articleThumbnailBox

              - if(has_post_thumbnail()):
              -   the_post_thumbnail("large", array('class'=>'articleThumbnailBox__image'));
              - else:
                img.articleThumbnailBox__image(src="<?= get_stylesheet_directory_uri()?>/public/image/thumb4x3.png")
              - endif;

              - if($article_type_name):
                .articleThumbnailBox__badge
                  .numberBadge
                    .numberBadge__title <?= $article_type_name ?>
                    .numberBadge__number
                      include ./includes/plartStoryNumber
                      +plartStoryNumber("<?= get_the_date('n') ?>")
              - endif;



          .singleArticle__content
            - the_content();

          hr.noBorder.bigMargin

          footer.singleArticle__footer

            .shareLinks
              h5.shareLinks_title SHARE
              - echo do_shortcode('[ssba]');

            hr.noBorder.bigMargin

            .keywordTags
              h5.keywordTags__title KEYWORD
              ul.keywordTags__list
                // タグを表示
                - $tags = get_the_tags();
                - foreach($tags as $tag):
                li.keywordTags__item
                  a.keywordTags__link(href="<?=  get_tag_link($tag->term_id); ?>") <?= $tag->name; ?>
                  - endforeach;
      - endwhile;
      //rewind 的なのいるっけ？

    .mainBox
      h2.mainBox__title RELATED ARTICLES
        span.mainBox__subTitle 関連記事
        
        :php
          $categories = wp_get_post_categories($post->ID);
          if ($categories){
            $args=array(
              'category__in' => $categories,
              'post__not_in' => array($post->ID),
              'posts_per_page'=>3,
              'caller_get_posts'=>1
            );
            $my_query = new WP_Query($args);
              if( $my_query->have_posts() ) {


      .contentsLayout--3cols
        ul.contentsLayout__3items
          - while ($my_query->have_posts()) : $my_query->the_post(); 
          - $post_index = 0

            - $post_index ++

            li.contentsLayout__item
              +articleBox("<?= $post_index <= 3 ? 'smalltop' : '' ?>")
                
          
          - endwhile;
          -  }
          -  wp_reset_query();
          -  }     


    .mainBox
      h2.mainBox__title WHAT'S NEW
        :php
          $args=array(
            'orderby' => 'date',
            'post__not_in' => array($post->ID),
            'posts_per_page'=>3,
            'caller_get_posts'=>1
          );
          $my_query = new WP_Query($args);
            if( $my_query->have_posts() ) {


      .contentsLayout--3cols
        ul.contentsLayout__3items
          - while ($my_query->have_posts()) : $my_query->the_post(); 
          - $post_index = 0

            - $post_index ++

            li.contentsLayout__item
              +articleBox("<?= $post_index <= 3 ? 'smalltop' : '' ?>")
                
          
          - endwhile;
          -  }
          -  wp_reset_query();

    .mainBox
      img.plartFactory__link(src="#")
      a.blackButton(href="#") PAGE TOP
