
.categoryBox{
  @extend .black-box--thin;

  position:absolute;
    bottom:-100px;
    left:2em;
  width:50%;

  background:white;
}


.categoryBox__table{

  font-size:26px;
  margin:0;
  td{
    margin:0;
    padding:0;
    border:none;
  }
}

.categoryBox__art {
  font-weight:bold;
  width:15%;

}
.categoryBox__cross{

  width:10%;
}

.categoryBox__catName{
  text-decoration:underline;
  a{
    color:#000;
  }
  
  width:25%;
}
.categoryBox__catContent {
  width:50%;

  font-size:16px;
}

