
.globalNav{
  float:right;
  text-align:right;
  margin-top:-1em;

}

.globalNav__item{

  display:inline;
  margin-left:1em;

  text-decoration:underline;


}

.globalNavBox__plartLogo{
  float:right;
}
