$titleFontSize:1.4rem;

.contentBox__2columns{
  .contentBox__sliderBox{
    @include span-columns(2 of  3)
    background: pink;
  }

  .contentBox__articlesBox{
    @include span-columns(1 of 3)
    background: brown;
  }
}

.viewMore{
  padding:0px;
  margin:auto;
  background: black;
  clear: both;
  width:150px;

  text-align: center;

  a {
    color:white;
  }
}

.contentBox__title{
  h2 {
    font-size: $titleFontSize;
  }
  margin-top: -10px;

}

.contentBox__wahtsNew{
  padding-bottom: 2em;
  @extend .contentBox__2columns;
}





.articleBox{
  border-top: 1px solid gray;
  width:200px;

  .category{
    margin: 3px;
    float:left;
  }
  .number{
    float:right;
    background: yellow;
    margin:3px;
  }
}

.contentBox__backNumber{

}

.contentBox__banner{

}
.contentBox__pickUp{

}
.contentBox__instagram{

}
.contentBox__partners{

}
